<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="team">
      <ion-icon src="/assets/custom-icons/md-persons-fill.svg" class="svgColor" id="team"></ion-icon>
      <ion-label>Equipo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches" class="">
      <ion-icon src="/assets/custom-icons/md-matches.svg" class="svgColor" id="matches"></ion-icon>
      <ion-label>Partidos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="statistics">
      <ion-icon src="/assets/custom-icons/md-statistics.svg" class="svgColor" id="statistics"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle" id="profile"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    

  </ion-tab-bar>

</ion-tabs>