ion-content {
    --background: #FBFBFD;
    height: 100vh;
}

ion-toolbar {
    display: flex;
    align-items: center;
    height: 97px;
    --background: #F9C700;
    --border-color: black;

    ion-label{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
    }
    ion-button{
        --color: #3e2723;
    }
    ion-back-button{
        --color: #3e2723;
    }
}

.toolbar-container{
    height: 97px;
    display: flex;
    justify-content: space-between;
    ion-label{
        align-self: center;
    }
    ion-button{
        align-self: center;
        text-decoration: underline;
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-icon {
        color: #1374E9;
        font-size: 156px;
    }
}

.item-container{
    width: 98vw;
    display: flex;
    justify-content: center;
    ion-item{
        --background: #FBFBFD;
        --padding-start: 5px;
        --padding-end: 5px;
        width: 78vw;
        --min-height: 9.7vh;
        ion-input{
            border-radius: 8px;
            background-color: none;
            border-style: solid;
            border-width: 2px;
            border-color: #DADCE0;;
            position: absolute;
            top: 10px;
            left: 0;
            height: 7.4vh;
            --padding-start: 1rem;
            --color: black;
        }
        ion-label{
            position: absolute;
            left: 1rem;
            top: -8px;
            z-index: 4;
            background-color: #FBFBFD;
            padding-left: .5rem;
            padding-right: .2rem;
            color: rgba(0, 0, 0, 0.4);
        }
    }
}

