<ion-header mode="ios">
  <ion-toolbar>
    
    <div class="toolbar-container">
      <ion-buttons>
        <ion-back-button text="Cancelar"></ion-back-button>
      </ion-buttons>
      <ion-label>Mi Perfil</ion-label>
      <ion-button fill="clear" (click)="newName()">Hecho</ion-button>
    </div>

    <div class="toolbar-line"></div>
  </ion-toolbar>
  
</ion-header>

<ion-content [forceOverscroll]="true">

  <div class="profile-container">

    <ion-icon name="person-circle"></ion-icon>

    <div class="items-container">

      <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="usuarioName"></ion-input>
        </ion-item>
      </div>
      <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating" class="item-label" >Apellido Paterno</ion-label>
          <ion-input type="text"[(ngModel)]="usuarioPaterno"></ion-input>
        </ion-item>
      </div>
      <!-- <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div> -->
      <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="usuarioEmail"></ion-input>
        </ion-item>
      </div>
      <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="phone-number" [(ngModel)]="usuarioPhone"></ion-input>
        </ion-item>
      </div>
      <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuarioPassword"></ion-input>
        </ion-item>
      </div>
      <div class="item-container">
        <ion-item lines="none">
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confPassword"></ion-input>
        </ion-item>
      </div>
    </div>

  </div>


</ion-content>
