ion-toolbar {
    display: flex;
    align-items: center;
    height: 97px;
    --background: #F9C700;
    //--border-color: black;

    ion-label{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
    }
    ion-back-button{
        --color: #3e2723;
    }
}

.toolbar-container{
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .space-right{
        width: 33vw;
    }
    .back-btn-container {
        width: 33vw;
        display: flex;
        ion-back-button{
            --color: #3e2723;
            font-size: 14px;
        }
       
    }
}

.profile-container{
    height: 15%;
    display: flex;
    align-items: flex-end;
    ion-label{
        font-size: 2rem;
        font-weight: bold;
        color: black;
        margin: 5%;
    }
    ion-icon {
        margin-left: 2%;
        color: #3e2723;
        font-size: 100px;
    }
    border-bottom: solid rgba(0, 0, 0, 0.163) 1px;
}
.container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68vh;
}



ion-list{
    ion-item{
        color: #3e2723;
    }
}