ion-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    height: 97px;
    --background: #F9C700;
    --border-color: black;

    .toolbar-container{
        display: flex;
        align-items: center;
    }

    ion-label{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
    }

    ion-button {
        margin-left: auto;
        margin-right: 4%;
        --color: black;
    }
    ion-icon {
        font-size: 2.1rem;
    }
}

ion-content {
    --background: #FBFBFD;
    --color: black;
    font-family: 'Roboto', sans-serif;
}

.join-team-container {
    display: flex;
    justify-content: flex-end;
    ion-button {
        ion-label {
            text-decoration: underline;
        }
        padding-right: .1%;
    }
}

ion-modal{
    --height: 220px;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --width: fit-content;
    --min-width: 330px;
    ion-toolbar{
        height: 50px;
    }
    ion-title{
        font-size: 1rem;
    }
    ion-content{
        --background: #FBFBFD;
        font-family: 'Roboto', sans-serif;
        display: flex;
        .modal-lbl-container{
            display: flex;
            flex-direction: column;
            font-size: 1.6rem;
            margin: 5%;
            ion-label{
                margin: 1%;
                //preguntar si dejar las palabras asi o que se alineen a su margen
            }
        }
    }
}

.container {
    margin: 4%;
    display: flex;
    flex-direction: column;
    ion-button{
        --background: #3e2723;
        --background-activated: rgba(255, 255, 255, 0.1);
        height: 61px;
    }
}

.full-day-container {
    padding-top: 10%;
}

.day-lbl {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1%;
}

.liga-bttn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    .pts-container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: .6rem;
        height: 85%;
        justify-content: space-around;
    }
    .pos-container{
        display: flex;
        flex-direction: column;
        height: 85%;
        justify-content: space-around;
    }
}

.info-lbl {
    color: #FAC600;
}


.sol-pend-container {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
}

.sol-pend-lbl {
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1%;
    padding-bottom: 7%;
}