ion-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    height: 97px;
    --background: #F9C700;
    --border-color: black;

    .toolbar-container{
        display: flex;
        align-items: center;
    }

    ion-label{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
    }

    ion-button {
        margin-left: auto;        
        --color: black;
    }
    ion-icon {
        font-size: 2.1rem;
    }
}

ion-modal.notification-modal{
    --height: 44%;
    --width: 100%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    align-items: flex-start;
    ion-toolbar{
        height: 50px;
    }
    ion-title.modal-title{
        font-size: 1.4rem;
    }

    ion-content.modal-content{
        --background: #FBFBFD;
        font-family: 'Roboto', sans-serif;
        display: flex;
        .notification-container{
            display: flex;
            flex-direction: column;
            background-color: #3e2723;
            ion-label.time-ago-label{
                align-self: flex-end;
                color: white;
                opacity: 40%;
                padding-top: 2%;
                padding-right: 2%;
            }
            .notification{
                display: flex;
                align-items: center;
                padding: 2%;
                width: 100%;
                height: auto;
                border-bottom: 1px solid black;
                ion-icon{
                    width: 71px;
                    height: 36px;
                }
                ion-label{
                    margin-left: 10px;
                    color: white;
                    font-size: 1.2rem;
                }
            }
        } 
    }

}

ion-content {
    --background: #FBFBFD;
    --color: black;
    font-family: 'Roboto', sans-serif;
}

.join-team-container {
    display: flex;
    justify-content: flex-end;
    ion-button {
        ion-label {
            text-decoration: underline;
        }
        padding-right: .1%;
    }
}

.container {
    margin: 4%;
    display: flex;
    flex-direction: column;
    ion-button{
        --background: #3e2723;
        --background-activated: rgba(255, 255, 255, 0.1);
        height: 61px;
    }
}

.full-day-container {
    margin-top: 10%;
}

.day-season-container{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1%;
    .season-lbl{
        margin-right: 2%;
    }
}

.day-lbl{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1%;
}


.liga-bttn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    .pts-container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: .6rem;
        height: 85%;
        justify-content: space-around;
    }
    .pos-container{
        display: flex;
        flex-direction: column;
        height: 85%;
        justify-content: space-around;
    }
}

.info-lbl {
    color: #FAC600;
}

.sol-pend-container {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
}

.sol-pend-lbl {
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1%;
    padding-bottom: 7%;
}