<ion-header mode="ios">
  <ion-toolbar>
    
    <div class="toolbar-container">
      <ion-label>Mis equipos</ion-label>
      <ion-button fill="clear" shape="default" id="open-notification-modal">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

    </div>
    
  </ion-toolbar>
  
</ion-header>

<ion-modal #modal trigger="open-notification-modal" class="notification-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="modal-title">Notificaciones</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="modal.dismiss()" class="modal-close-btn">
            Cerrar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="modal-content" [fullscreen]="true">
      
      <div class="notification-container">
        <ion-label class="time-ago-label">Hace 10 min</ion-label>
        <div class="notification">
          <ion-icon slot="start" src="/assets/custom-icons/md-accepted-team.svg"></ion-icon>
          <ion-label>Ha sido aceptado en el equipo Los cachorros de la liga de Miercoles.</ion-label>
        </div>
      </div>
      
      <div class="notification-container">
        <ion-label class="time-ago-label">Hace 3 meses</ion-label>
        <div class="notification">
          <ion-icon slot="start" src="/assets/custom-icons/md-calendar-clock.svg"></ion-icon>
          <ion-label>Tienes partido el próximo Jueves con Los Temerarios a las 7:00 p.m.</ion-label>
      </div>

    </div>
      
      
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content [forceOverscroll]="false">

  <div class="join-team-container">
    <ion-button (click)="presentAlert()" fill="clear" shape="default">
      <ion-label>Unirse a equipo</ion-label>
    </ion-button>

  </div>
  
  <div class="container">

    <ng-container *ngFor="let league of leagues">
      <ng-container *ngIf="league.belongs===true">
        <div class="full-day-container">
          <div class="day-season-container">
            <ion-label class="day-lbl">Liga {{league.day}}</ion-label>
            <ion-label class="season-lbl">Jornada {{league.season}}</ion-label>
          </div>
          <ion-button expand="block" fill="solid" shape="default" class="day-bttn" (click)="openTeamStatisticsPage(league.day)">
              <div class="liga-bttn-container">
                <ion-label>{{league.team}}</ion-label>
      
                <div class="pts-container">
                  <ion-label class="info-lbl">pts</ion-label>
                  <ion-label>{{league.pts}}</ion-label>
                </div>
      
                <div class="pos-container">
                  <ion-label class="info-lbl">pos</ion-label>
                  <ion-label>{{league.pos}}</ion-label>
                </div>
      
              </div>
          </ion-button>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let league of leagues">
      <ng-container *ngIf="league.teamRequested===true">
        <div class="sol-pend-container">
          <ion-label class="sol-pend-lbl">Solicitudes de equipo pendientes</ion-label>
          <ion-label class="day-lbl">Liga {{league.day}}</ion-label>

          <ion-button (click)="presentSolAlert()" expand="block" fill="solid" shape="default" class="day-bttn">
            <div class="liga-bttn-container">
              <ion-label>{{league.team}}</ion-label>
            </div>
          </ion-button>
        </div>
      </ng-container>
    </ng-container>

  </div>


</ion-content>
