<ion-header collapse="condense" mode="ios">
  <ion-toolbar>
    <ion-title size="large"></ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [forceOverscroll]="false">

  <div class="container">

    <img src="assets/img/logo.png" alt="logo">
    
    <div class="login-container">
      <ion-thumbnail>
        
      </ion-thumbnail>

      
      <ion-text id="txt-login">Iniciar sesión</ion-text>

      <div class="items-container">
        <div class="item-container">
          <ion-item lines="none">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="myAuth"></ion-input>
          </ion-item>
        </div>
        <div class="item-container">
          <ion-item lines="none">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [clearOnEdit]="true"></ion-input>
          </ion-item>
        </div>
      </div>

      <ion-button id="bttn-login" (click)="signIn(myAuth)">Iniciar Sesion</ion-button>

    </div>

    <ion-button expand="block" fill="solid" shape="round" class="forgot-bttn" [routerLink]="['/confirm-email']">
      <ion-label>¿Olvidaste tu contraseña?</ion-label>
    </ion-button>

    <div class="login-with">

      <div id="line-1"></div>
      <ion-text id="txt-login-with">o inicia sesion con</ion-text>
      <div id="line-2"></div>

    </div>


    <div class="container-connect">

      <ion-button id="bttn-facebook">
        <div class="bttn-container-fb">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </div>
      </ion-button>

        <ion-button id="bttn-google">
          <div class="bttn-container-google">
            <ion-icon name="logo-google"></ion-icon>Google
          </div>
        </ion-button>
      
    </div>

    <div class="no-account-container">
      <ion-text id="txt-no-account">¿Aún no tienes cuenta?</ion-text>
      <ion-button [routerLink]="['/create-account']" expand="block" fill="solid" shape="round" class="noaccount-bttn">
        <ion-label>Registrarse</ion-label>
      </ion-button>
    </div>

  </div>


</ion-content>

