ion-toolbar {
    display: flex;
    align-items: center;
    height: 97px;
    --background: #F9C700;

    ion-label{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: black;
    }
    ion-back-button{
        --color: #3e2723;
    }
}

.toolbar-container{
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .space-right{
        width: 33vw;
    }
    .back-btn-container {
        width: 33vw;
        display: flex;
        ion-back-button{
            --color: #3e2723;
            font-size: 14px;
        }
       
    }
}

ion-item{
    width: 100vw;
    ion-label{
        width: 74%;
        font-size: 1rem;
    }
    ion-toggle{
        --background-checked: #3e2723;
        align-self: center;
    }
}
