<ion-header mode="ios">
  <ion-toolbar>
    <div class="toolbar-container">

      <ion-label>Partidos</ion-label>
      <ion-button [routerLink]="['/check-in']">
        Check-In <ion-icon name="compass"></ion-icon>
      </ion-button>
    </div>
    <div class="toolbar-line"></div>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="arbitro-bttn-container" *ngIf="(user.role==='ARBITRO')">

    <ion-button fill="solid" class="arbitrar-bttn" (click)="presentArbitroAlert()">
      Arbitrar partido
      <ion-icon name="remove-circle"></ion-icon>
    </ion-button>
  </div>
  
  <div class="matches-container">
    

    <ion-label id="header-label">Partido próximo/actual</ion-label>
    <div class="match-container">

      <div class="team-container">
        <div class="team-a-container">

          <ion-label>Correcaminos</ion-label>
          <ion-label class="score-lbl"></ion-label>

        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Cadetes</ion-label>
          <ion-label class="score-lbl"></ion-label>
        </div>
      </div>

    </div>

    <ion-label id="header-label">Próximos partidos</ion-label>

    <div class="match-container">
      <div class="next-match-container">
        <ion-label>Liga Miercoles</ion-label>
        <ion-label class="date-lbl">14/Jul   6:00p.m.</ion-label>
      </div>

      <div class="team-container">
        <div class="team-a-container">
          <ion-label>Capis</ion-label>
        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Peloteros</ion-label>
        </div>
      </div>
    </div>

    <div class="match-container">
      <div class="next-match-container">
        <ion-label>Liga Viernes</ion-label>
        <ion-label class="date-lbl">16/Jul 8:00p.m.</ion-label>
      </div>

      <div class="team-container">
        <div class="team-a-container">
          <ion-label>Abuelos</ion-label>
        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Cachorros</ion-label>
        </div>
      </div>
    </div>

    <div class="match-container">
      <div class="next-match-container">
        <ion-label>Liga Viernes</ion-label>
        <ion-label class="date-lbl">23/Jul   4:00p.m.</ion-label>
      </div>

      <div class="team-container">
        <div class="team-a-container">
          <ion-label>Abuelos</ion-label>
        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Piratas</ion-label>
        </div>
      </div>
    </div>

  </div>

</ion-content>
