<ion-header mode="ios">
  <div class="status-bar">
      
  </div>
  <ion-toolbar>
    
    <ion-label>Partidos</ion-label>

    <div class="toolbar-line"></div>
  </ion-toolbar>
</ion-header>


<ion-content [forceOverscroll]="false">
  <div class="matches-container">

    <ion-label id="header-label">Partido próximo/actual</ion-label>
    <div class="match-container">

      <div class="team-container">
        <div class="team-a-container">

          <ion-label>Correcaminos</ion-label>
          <ion-label class="score-lbl">4</ion-label>

        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Cadetes</ion-label>
          <ion-label class="score-lbl">12</ion-label>
        </div>
      </div>

    </div>

    <ion-label id="header-label">Próximos partidos</ion-label>
    <div class="match-container">

      <div class="team-container">
        <div class="team-a-container">

          <ion-label>Capis</ion-label>
          <ion-label class="score-lbl">3</ion-label>

        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Peloteros</ion-label>
          <ion-label class="score-lbl">5</ion-label>
        </div>
      </div>

    </div>

    <div class="match-container">

      <div class="team-container">
        <div class="team-a-container">

          <ion-label>Cachorros</ion-label>
          <ion-label class="score-lbl">7</ion-label>

        </div>
        <ion-label>VS</ion-label>
        <div class="team-b-container">
          <ion-label>Abuelos</ion-label>
          <ion-label class="score-lbl">4</ion-label>
        </div>
      </div>

    </div>

  </div>

</ion-content>
