
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cancelar" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content forceOverscroll="false">
  <div class="container">

    <div class="login-container">
      <ion-thumbnail>
      </ion-thumbnail>
      
      <ion-text id="txt-login">Ingresa el código que enviamos a tu correo electrónico</ion-text>

      <div class="items-container">
        <div class="item-container">
          <ion-item lines="none">
            <ion-input type="phone-number" placeholder="0-0-0-0-0-0" maxlength="6"></ion-input>
          </ion-item>
        </div>
      </div>

      <ion-button id="bttn-login" [routerLink]="['/change-password-login']">Enviar</ion-button>

    </div>

  </div>
</ion-content>
