<ion-header mode="ios">
  <ion-toolbar>
    
    <div class="toolbar-container">
      <div class="back-btn-container">
        <ion-back-button text="Atrás" defaultHref="/tabs/team"></ion-back-button>
        
      </div>
      <ion-label>Estadísticas</ion-label>
      <ng-container *ngFor="let league of leagues">
        <ng-container *ngIf="league.day===leagueDay">
          <ion-label class="season-lbl">Jornada {{league.season}}</ion-label>
        </ng-container>
      </ng-container>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <div class="container">

    <div class="statistics-container">

      <div class="team-info-container">
          
        <ion-label class="team-lbl"> Liga {{leagueDay}}
        </ion-label>
          
        <ion-button id="open-modal" expand="block" fill="clear">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-button>
          
        <ion-modal #modalInfo trigger="open-modal">
          <ng-template>
            <ion-content class="modal-content">
              <ion-toolbar>
                <ion-title>Información</ion-title>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="modalInfo.dismiss()" class="modal-close-btn">
                    Cerrar
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
              <div class="modal-lbl-container">
                <ion-label>JJ. Juegos Jugados.</ion-label>
                <ion-label>JG. Juegos Ganados.</ion-label>
                <ion-label>JP. Juego Perdidos.</ion-label>
                <ion-label>JE. Juegos Empatados.</ion-label>
                <ion-label>GF. Goles a Favor.</ion-label>
                <ion-label>GC. Goles en Contra.</ion-label>
                <ion-label>DG. Diferencia de goles.</ion-label>
                <ion-label>PTS. Puntos.</ion-label>
                <ion-label>POS. Posición.</ion-label>
              </div>
              
            </ion-content>
          </ng-template>
        </ion-modal>

      </div>

      <ng-container *ngFor="let league of leagues">
        <ng-container *ngIf="league.day===leagueDay">
          <div class="button-container" >
            <div class="stats-container">
              <div class="info-container">
                <ion-label class="stats-info-lbl">JJ</ion-label>
                <ion-label class="num-lbl">{{league.jj}}</ion-label>
              </div>
    
              <div class="info-container">
                <ion-label class="stats-info-lbl">JG</ion-label>
                <ion-label class="num-lbl">{{league.jg}}</ion-label>
              </div>
    
              <div class="info-container">
                <ion-label class="stats-info-lbl">JP</ion-label>
                <ion-label class="num-lbl">{{league.jp}}</ion-label>
              </div>
    
              <div class="info-container">
                <ion-label class="stats-info-lbl">JE</ion-label>
                <ion-label class="num-lbl">{{league.je}}</ion-label>
              </div>
    
              <div class="info-container">
                <ion-label class="stats-info-lbl">GF</ion-label>
                <ion-label class="num-lbl">{{league.gf}}</ion-label>
              </div>
    
              <div class="info-container">
                <ion-label class="stats-info-lbl">GC</ion-label>
                <ion-label class="num-lbl">{{league.gc}}</ion-label>
              </div>

              <div class="info-container">
                <ion-label class="stats-info-lbl">DG</ion-label>
                <ion-label class="num-lbl">{{league.gf - league.gc}}</ion-label>
              </div>

    
              <div class="info-container">
                <ion-label class="stats-info-lbl">PTS</ion-label>
                <ion-label class="num-lbl">{{league.pts}}</ion-label>
              </div>
    
              <div class="info-container">
                <ion-label class="stats-info-lbl">POS</ion-label>
                <ion-label class="num-lbl">{{league.pos}}</ion-label>
              </div>
            </div>
    
          </div>
        </ng-container>
      </ng-container>

    </div>

    <div class="plyr-goals-container">
      <ion-label class="goleo-lbl">Goleo</ion-label>

      <ng-container *ngFor="let league of leagues">
        <ng-container *ngIf="league.day===leagueDay" class="plyr-container">
  
          <ion-button *ngFor="let player of league.players" id="player-modal" class="player-bttn" expand="block" fill="fill" shape="default" (click)="getPlayersInfo(player.name)">
            <div class="plyr-container">
              <ion-label class="name-lbl"> {{ player.name }} </ion-label>
              <ion-label class="num-goal-lbl"> {{ player.numGoals }}</ion-label>
              <ion-label class="goals-lbl"> Goles </ion-label>
            </div>
            
          </ion-button>

          <ion-modal trigger="player-modal" class="player-modal" #modalGoleo>
            <ng-template>
              <ion-content [forceOverscroll]="false" class="modal-content">
                <ng-container *ngIf="league.day===leagueDay">
                  <ion-toolbar>
                    <ion-title>{{playerInfo}}</ion-title>
                    <ion-button (click)="modalGoleo.dismiss()" color="light" fill="clear" slot="end">
                      Cerrar
                    </ion-button>
                  </ion-toolbar>
                  
                      <div *ngFor="let player of league.players" class="modal-ngfor-container">
                        <ng-container *ngIf="player.name===playerInfo">

                          <div class="player-info-lbl">
                            <ion-label>Goles</ion-label>
                            <ion-label class="bold-info-lbl">{{player.numGoals}}</ion-label>
                          </div>
          
                           <div class="player-info-lbl">
                            <ion-label>Tarjetas amarillas</ion-label>
                            <ion-label class="bold-info-lbl">{{player.yellowCards}}</ion-label>
                          </div>
          
                          <div class="player-info-lbl">
                            <ion-label>Tarjetas rojas</ion-label>
                            <ion-label class="bold-info-lbl">{{player.redCards}}</ion-label>
                          </div>
                          
                          <div class="player-info-lbl">
                            <ion-label>Partidos jugados</ion-label>
                            <ion-label class="bold-info-lbl">{{player.gamesPlayed}}</ion-label>
                          </div> 

                        </ng-container>
                      </div >
                </ng-container>
  
              </ion-content>
            </ng-template>
          </ion-modal>
  
        </ng-container>
      </ng-container>

    </div>

  </div>
</ion-content>
