<ion-header mode="ios">
  <div class="status-bar">
      
  </div>
  <ion-toolbar>
    
    <ion-label>Mi Perfil</ion-label>

    <ion-button slot="end" fill="clear">
      Editar
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>

    <div class="toolbar-line"></div>
  </ion-toolbar>
  
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="profile-container">

    <ion-icon name="person-circle"></ion-icon>

    
    <ion-label id="name">Juan Perez</ion-label>
    
    <div class="email-container">
      <ion-text>Correo: </ion-text>
      <ion-label id="email">adidas_spiderman@hotmail.com</ion-label>
    </div>
    
    <div class="phone-container">
      <ion-text>Telefono: </ion-text>
      <ion-label id="phone-number">614-423-4231</ion-label>
    </div>

  </div>

</ion-content>
