<ion-header mode="ios">
  <ion-toolbar>
    
    <ion-label>Mi Perfil</ion-label>

    
    <ion-button slot="end" fill="clear" [routerLink]="['/settings']" >
      <ion-icon slot="end" name="cog"></ion-icon>
    </ion-button>

    <div class="toolbar-line"></div>
  </ion-toolbar>
  
</ion-header>

<ion-content [forceOverscroll]="false">
  <div class="profile-container">

    <ion-icon name="person-circle"></ion-icon>

    <ion-label id="name">{{usuario}} {{paterno}}</ion-label>
    
    <div class="email-container">
      <ion-text>Correo: </ion-text>
      <ion-label id="email">{{email}}</ion-label>
    </div>
    
    <div class="phone-container">
      <ion-text>Teléfono: </ion-text>
      <ion-label id="phone-number">{{phone}}</ion-label> 
    </div>

  </div>

</ion-content>
