<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cancelar" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content forceOverscroll="true">

  <div class="container">

    <div class="login-container">
      <ion-thumbnail>
        
      </ion-thumbnail>

      
      <ion-text id="txt-login">Crea tu cuenta</ion-text>

      <div class="items-container">
        <div class="item-container">
          <ion-item lines="none">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </div>
        <div class="item-container">
          <ion-item lines="none">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [clearOnEdit]="true"></ion-input>
          </ion-item>
        </div>
        <div class="item-container">
          <ion-item lines="none">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password" [clearOnEdit]="true"></ion-input>
          </ion-item>
        </div>
      </div>

      <ion-button id="bttn-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Registrarse</ion-button>

    </div>

    <div class="login-with">

      <div id="line-1"></div>
      <ion-text id="txt-login-with">o inicia sesion con</ion-text>
      <div id="line-2"></div>

    </div>


    <div class="container-connect">

      <ion-button id="bttn-facebook">
        <div class="bttn-container-fb">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </div>
      </ion-button>

        <ion-button id="bttn-google">
          <div class="bttn-container-google">
            <ion-icon name="logo-google"></ion-icon>Google
          </div>
        </ion-button>
      
    </div>

  </div>

</ion-content>
