<ion-header mode="ios">
  <ion-toolbar>
    
    <div class="toolbar-container">
      <ion-label>Estadísticas</ion-label>
      <ng-container *ngFor="let league of leagueTeams">
        <ng-container *ngIf="league.day===statisticsDay">
          <ion-label class="season-lbl">Jornada {{league.season}}</ion-label>
        </ng-container>
      </ng-container>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">

  <div class="item-container">

    <ion-item lines="none">
      <ion-select placeholder="Seleccionar liga" interface="popover" [(ngModel)]="statisticsDay">
        <ng-container *ngFor="let leagueDay of leagueTeams">
          <ng-container *ngIf="leagueDay.belongs===true">
            <ion-select-option [value]="leagueDay.day">
              Liga {{leagueDay.day}}
            </ion-select-option>
          </ng-container>
        </ng-container>
      </ion-select>
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </ion-item>

  </div>
  
  <div class="container">

    <div class="full-day-container">

      <div class="info-container">

        <ion-label class="day-lbl">Liga {{statisticsDay}}</ion-label>
        <ion-label class="info-pts-lbl">PTS</ion-label>
        <ion-label class="info-pos-lbl">POS</ion-label>

      </div>

      <ng-container *ngFor="let leagueTeam of leagueTeams">
        <ng-container *ngIf="statisticsDay===leagueTeam.day">
          <ion-button *ngFor="let teamNames of leagueTeam.teams" expand="block" fill="solid" shape="default" class="day-bttn">
            <div class="team-bttn-container">
              <ion-label>{{teamNames.name}}</ion-label>
              <ion-label class="pts-lbl">{{teamNames.pts}}</ion-label>
              <ion-label class="pos-lbl">{{teamNames.pos}}</ion-label>
            </div>
          </ion-button>
        </ng-container>
      </ng-container>
      
    </div>
    
  </div>

</ion-content>
